{% extends "base.html" %}
{% block title %}Registered Users{% endblock title %}
{% block content %}
<style>
  
</style>
<a href="{% url 'Register-User' %}"><button>Register New User</button></a>
<div class="con">
    {% for user in object_list %}
        <div class="card">
            <h1>Username: {{ user.username }}</h1>
            <h2>First Name: {{ user.first_name }}</h2>
            <h2>Last Name: {{ user.last_name }}</h2>
            <h3>Email: {{ user.email }}</h3>
            <a href="{% url 'Detail-User' user.id %}"><button>Detail User</button></a>
        </div>
    {% endfor %}
</div>
{% endblock content %}
